node_modules
.env

# Hardhat files
/cache
/cache-zk
/artifacts-zk

# ignition
/ignition/deployments

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

#deployments
/deployments-zk
